import com.marklogic.xcc.ResultSequence;
import com.marklogic.xcc.Session;
import com.marklogic.xcc.ModuleInvoke;
import com.marklogic.xcc.types.XdmItem;
import com.j2xq.exception.GenericException;
