		
			ModuleInvoke xdbcRequest = session.newModuleInvoke(null);
			xdbcRequest.setNewStringVariable("params", params);
			xdbcRequest.setModuleUri("xq2j-main.xqy");
			ResultSequence resultSequence = session.submitRequest(xdbcRequest);
		